body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********** Header **********/

header {
  height: 319px;
  background: #707070 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;

  /*align center*/
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

hgroup {
  color: #ffffff;
  text-align: center;
}

.heading-medium {
  font: normal 20px/24px Helvetica Neue;
}

.heading-big {
  font: Bold 40px/49px Helvetica Neue;
}

.heading-small {
  font: normal 14px/16px Helvetica Neue;
  margin: 25px;
}

nav {
  text-align: center;
}

button {
  cursor: pointer;
  color: #888888;
  font: normal 16px/16px Helvetica Neue;
}

nav button {
  width: 160px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  margin: 20px;
  font: normal 14px/16px Helvetica Neue;
}

/* Header's responsivity so it fits into header up to 243px of width*/
@media (max-width: 420px) {
  nav button {
    margin: 8px;
  }

  .heading-small {
    margin: 0px;
  }
}

@media (max-width: 355px) {
  nav button {
    margin: 1px;
  }

  .heading-big {
    line-height: 39px;
  }
}

/********** Products Grid **********/

/* Article Titles */
article h1 {
  font: Bold 18px/16px Helvetica Neue;
  margin: 50px;
  color: #888888;
}

.products-container-article {
  text-align: center;
  margin: 30px 0px;
}

.products-grid {
  max-width: 950px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.article-end-button {
  margin: 40px 0px;
  width: 260px;
  height: 39px;
  color: #888888;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
}

/* Responsivity of end-article buttons */
@media (max-width: 355px) {
  .article-end-button {
    width: 80vw;
    margin: 5px;
  }
}

/********** Product Item **********/

.grid-item {
  color: #888888;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 250px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: -webkit-center;
}

.buy-button {
  width: 200px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
}

.product-name {
  margin: 10px 0px 10px 0px;
  text-align: left;
  font: normal 14px/16px Helvetica Neue;
}

.product-content {
  text-align: left;
  font: normal 12px/16px Helvetica Neue;
}

.old-price {
  margin: 6px 0px;
}

.price {
  font: Bold 16px/16px Helvetica Neue;
}

.installments {
  margin: 6px 0px;
}

/* Responsibility of product grid breaking from 4 products per row to 3, 2, and 1*/
@media (max-width: 894px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 674px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media (max-width: 454px) {
  .grid-item {
    flex-basis: 100%;
  }
}

/********** Share form **********/

.share-form-article {
  margin: 90px 0px;
  text-align: center;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  margin: 5px 15px 5px 15px;
  background-color: #fff;
  border: 1px solid #707070;
  width: 340px;
  height: 26px;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 10px;
}

/* Input responsivity */
@media (max-width: 780px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }

  .share-form-label {
    margin-left: 0px !important;
  }
}

.share-product-form {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.share-form-label {
  font: normal 12px/14px Helvetica Neue;
  margin-left: 15px;
  color: #888888;
  display: block;
  text-align: left;
}

.subtitle {
  font: normal 14px/16px Helvetica Neue;
  letter-spacing: 0;
  color: #888888;
  margin: 30px;
}

/* Share form's input responsivity */
@media (max-width: 355px) {
  .form-inline div {
    width: 90vw;
    margin: 5px;
  }
  .form-inline div input {
    width: 85vw;
  }
}

/********** Footer **********/

footer {
  height: 200px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  display: flex;

  /* align center */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  /*justify center*/
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.footer-content {
  text-align: center;
  font: normal 12px/18px Helvetica Neue;
  color: #ffffff;
  line-height: 18px;
}

/********** Font **********/
/* 
It's legal to ask the browser to use Helvetica Neue if it's available on the system, 
but I would need a license if I wanted to serve the font myself. 
But this is a test, so I'm font-facing it.
*/

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neue/HelveticaNeue.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/helvetica-neue/HelveticaNeue.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("./assets/fonts/helvetica-neue/HelveticaNeue.ttf") format("truetype"); /* Safari, Android, iOS */
}
